body {
  margin: 0 auto;
}

main {
  float: left;
  width: 65%;

  padding: 15px;
  margin: 25px 0 25px 25px;
}

aside {
  float: right;
  width: 25%;

  padding: 5px;
  margin-top: 25px;
  margin-right: 16px;
}

aside div {
  display: inline-block;
}
