main {
  background-color: #e7e7e7;
  margin: 30px 30px;
  padding: 15px;  
}

table, th, td {
  border: 1px solid #606060;
  border-spacing: 0px;
}

table th, td {
  padding: 5px 25px;
  text-align: center;
}

img {
  width: 450px;
}

footer {
  text-align: center;
}

