@font-face {
  font-family: "Pocket Monk";
  src: url("../resources/pocket_monk.otf");
}

.App {
  display: flex;
  flex-wrap: wrap;
}

.pokemon {
  flex-basis: 30%;
  flex-grow: 1;

  display: flex;
  justify-content: space-between;

  background-color: #de452f;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.7);

  margin: 15px;
  padding: 10px;
  border-radius: 12px;
}

.properties {
  font-family: Ubuntu;
  text-align: center;
  line-height: 0.5;

  width: 160px;
  margin-right: 8px;

  background-color: #63af5f;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

.properties::first-line {
  font-weight: bold;
  font-size: 1.2em;
}

.brand {
  font-family: "Pocket Monk";
  font-size: 45px;
  line-height: 0;

  color: #08224e;
  box-shadow: 0 10px 15px black;
}

img {
  background-color: #dedede;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);

  margin-left: 8px;
}
